.gxsm3-titlebar-left:dir(ltr),
.gxsm3-titlebar-right:dir(rtl) {
    border-top-right-radius: 0;
}

.gxsm3-titlebar-right:dir(ltr),
.gxsm3-titlebar-left:dir(rtl) {
    border-top-left-radius: 0;
}

.gxsm3-headerbar-paned.pane-separator:dir(ltr),
.gxsm3-headerbar-paned.pane-separator:hover:dir(ltr) {
    border-radius: 0;
    border-width: 0 1px 1px 0;
}

.gxsm3-side-panel-paned.pane-separator:dir(ltr),
.gxsm3-side-panel-paned.pane-separator:hover:dir(ltr) {
    border-radius: 0;
    border-width: 0 1px 0 0;
}

.gxsm3-headerbar-paned.pane-separator:dir(rtl),
.gxsm3-headerbar-paned.pane-separator:hover:dir(rtl) {
    border-radius: 0;
    border-width: 0 0 1px 1px;
}

.gxsm3-side-panel-paned.pane-separator:dir(rtl),
.gxsm3-side-panel-paned.pane-separator:hover:dir(rtl) {
    border-radius: 0;
    border-width: 0 0 0 1px;
}

.gxsm3-menu-stack-switcher {
    padding: 12px;
}
