#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Signal Ranger DSP firmware
Comment=Opens folder containing DSP firmware
Icon=folder
Exec=nautilus /usr/share/gxsm3/dsp-firmware
Terminal=0
Type=Application
X-AppInstall-Package=gxsm3
Encoding=UTF-8
Value=1.0

