#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SRanger STD conf
Comment=Python script for configuration of the SR-STD/SP2 boards
Exec=sr_spm_control.py
Icon=gnome-mime-application-x-python-bytecode
Terminal=1
Type=Application
Categories=Gxsm
X-AppInstall-Package=sranger

