#!/usr/bin/env xdg-open

[Desktop Entry]
Icon=gnome-mime-application-pdf
Terminal=0
Type=Application
Categories=Gxsm
X-AppInstall-Package=sranger
Name=SRanger offline manual
Comment=Opens the SRagner offline manual
Exec=evince /usr/share/doc/gxsm3/sranger-main.pdf.gz
Encoding=UTF-8
Value=1.0
Categories=GxsmDoc;GTK;GNOME;Science

