#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SRanger MK3Pro&A810 conf
Comment=Python script for configuration of the SR-MK3Pro&A810 boards
Exec=mk3_spm_configurator.py
Icon=gnome-mime-application-x-python-bytecode
Terminal=1
Type=Application
Categories=Gxsm
X-AppInstall-Package=sranger

