#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SRanger STD/SP2 autoconf
Name[de]=SRanger STD/SP2 Autokonfiguration
Comment=Python script for automatic configuration of the SR-STD/SP2 boards
Comment[de]=Python-Skript zur automatischen Konfiguration der SR-STD/SP2-Karten
Exec=spm_autoconf.py
Icon=gnome-mime-application-x-python-bytecode
Terminal=true
Type=Application
Categories=GxsmSTD;GTK;GNOME;Science
X-AppInstall-Package=gxsm3


