#!/usr/bin/env xdg-open

[Desktop Entry]
Name=GXSM offline manual
Comment=Opens the Gxsm offline manual
Exec=evince /usr/share/doc/gxsm3/Gxsm3-main.pdf.gz
Icon=gnome-mime-application-pdf
Terminal=0
Type=Application
X-AppInstall-Package=gxsm3
Encoding=UTF-8
Value=1.0
Categories=GxsmDoc;GTK;GNOME;Science

