#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Value=1.0
Name=GXSM3 no hardware
Name[de]=GXSM3 ohne Hardware-Unterstützung
GenericName=Data acquisition and processing
Comment=GXSM3 - startup in analysis/emulation mode
Comment[de]=GXSM3 - Programmstart im Analyse- und Emulationsmodus
Exec=gxsm3 -h no
TryExec=gxsm3
Icon=/usr/share/icons/hicolor/scalable/apps/gxsm3-icon.svg
#Icon=gxsm-app
Terminal=true
Type=Application
Categories=Gxsm;GTK;GNOME;Science
X-AppInstall-Package=gxsm3
X-GNOME-Settings-Panel=gxsm3
MimeType=application/x-netcdf

