#!/usr/bin/env xdg-open

[Desktop Entry]
Name=GXSM SR-MK2/3Pro
Comment=GXSM with MK2/3Pro support
Exec=gxsm3 "-h=SRangerMK2:SPM" "-d=/dev/sranger_mk2_0"
Icon=gxsm-app
Terminal=1
Type=Application
Encoding=UTF-8
Value=1.0
X-AppInstall-Package=gxsm3

