#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SRanger MK2&A810 configuration
Name[de]=SRanger MK2&A810 Konfiguration
Comment=Python script for configuration of the SR-MK2&A810
Comment[de]=Python-Skript zur Konfiguration der SR-MK2&A810
Exec=mk2_spm_control.py
Icon=gnome-mime-application-x-python-bytecode
Terminal=true
Type=Application
Categories=GxsmMK23;GTK;GNOME;Science
X-AppInstall-Package=gxsm3

